<div class="container">
<h1>cree aqui su trago</h1>
<p>   aca va un formulario </p>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Enviar", class: "btn btn-primary" %>
<% end %>
</div>